/*#############################################
                    THEMES
#############################################*/

$theme-color: #000;
$theme: #FF1B1C;
$theme-hover: lighten($theme, 10%);

@import "../../template";
@import "./custom";
