.btn {
    &.btn-theme {
        color: $theme-color;

        &:hover, &:focus {
            color: $theme-color;
        }
    }
}

.body-auth {
    .btn-login {
        background: $theme;
        color: $theme-color;

        &:hover, &:focus {
            background: $theme-hover;
            color: $theme-color;
        }
    }
}

body {
    background: #000 !important;

    .u-sidebar-navigation--dark {
        background: #000;

        .has-active {
            > a {
                &.active {
                    background: rgba(149,60,60,.25);

                    &:hover, &:focus {
                        background: rgba(149,60,60,.35);
                    }
                }
            }
        }
    }
}

.u-header__section--admin-dark {
    .u-header-logo-toggler {
        background: #000;
    }
}
