html {
    @media screen and (min-width: 620px) {
        scrollbar-color: #323232 transparent;
        scrollbar-width: thin;
    }

    background: #123123;
}

body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #141414 !important;
    color: #fff;
}

.disabled {
    pointer-events: none;
}

.col-general {
    display: flex;
    flex-direction: column;
    width: calc(100% - 300px);

    @media screen and (max-width: 991px) {
        min-height: calc(100svh - 66px);
        width: 100%;
    }
}

.select2-container--default {
    .select2-dropdown {
        background: #333;
        border: 1px solid #444;
        border-radius: 5px;
        margin-top: 2px;
    }
}

#header-search-form {
    .form-control {
        width: 100%;
    }
}

.dropdown-menu {
    &.show {
        opacity: 1;
    }
}

.dropdown-toggle::after {
    display: none !important;
}

.img-logo {
    width: auto;
    margin-left: 25px;
    max-width: 150px;
    height: auto;
    max-height: 100%;
}

.collapse {
    display: none !important;

    &.show {
        display: block !important;
    }
}

.btn {
    border-radius: 8px;

    &.btn-theme {
        color: #fff;
        background: $theme;
        border-color: $theme;

        &:hover, &:focus {
            color: #fff;
            background: $theme-hover;
            border-color: $theme-hover;
        }
    }

    &.btn-transparent {
        color: #fff;
        background: transparent;
        border-color: #fff;

        &:hover, &:focus {
            color: #fff;
            background: rgba(255,255,255,0.15);
            border-color: #fff;
        }
    }

    &.btn-dark {
        color: #fff;
        background: #1e1e1e;
        border-color: #1e1e1e;

        &:hover, &:focus {
            color: #fff;
            background: #222;
            border-color: #222;
        }
    }
}

.row-div {
    position: relative;

    .col-overauto {
        overflow: auto;

        &:first-child {
            @media screen and (max-width: 991px) {
                padding-bottom: 15px;
                margin-bottom: 15px;
                background: rgba(0,0,0,0.075);
                margin-top: -15px;
                padding-top: 15px;
            }
        }

        ul {
            padding-left: 15px;
        }
    }

    &::before {
        content: "";
        background: #dee2e6;
        width: 1px;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        display: none;

        @media (min-width: 992px) {
            display: block;
        }
    }
}

.opt-footer {
    text-align: right;

    @media screen and (max-width: 991px) {
        text-align: center;
    }

    .opt-footer-ex {
        display: block;
        margin-bottom: 7.5px;
        padding-bottom: 7.5px;

        @media screen and (max-width: 991px) {
            display: block;
            margin-bottom: 15px;
        }
    }

    .opt-footer-form-group {
        display: inline-block;
        margin-right: 3px;

        .form-group {
            width: 220px;
            text-align: left;
            display: inline-block;
        }

        @media screen and (max-width: 767px) {
            display: block;
            margin-bottom: 15px;
        }
    }

    .dropdown {
        display: inline-block;
        margin-right: 2px;

        .dropdown-toggle {
            &::after {
                display: none;
            }
        }

        .dropdown-menu {
            box-shadow: 0 0 5px #3e4551;
            background-color: #fff !important;
            padding: .5rem 0 !important;
            min-width: 160px;

            .dropdown-item {
                color: #555 !important;
                font-size: 14px;
                font-weight: 600;
                display: inline-block;
                width: 100%;
                position: relative;
                padding: 3px 8px !important;
            }
        }
    }

    .btn {
        background: #424d62;
        border-color: #424d62;
        color: #eee;
        font-size: 14px;
        font-weight: 600;


        i {
            margin-left: 5px;
        }

        &:hover, &:focus {
            background: #586682;
            border-color: #586682;
            color: #fff;
        }
    }
}

.wrapper-title {
    color: #fff;
    font-size: 16px;

    @media screen and (max-width: 991px) {
        font-size: 14px;
    }
}

@media screen and (max-width: 575px) {
    #header-search-form {
        .input-group {
            display: block;
            width: 100%;
        }
    }
}

@keyframes fade-animated {
    0% {
        opacity: 0.3;
    }
    33.33% {
        opacity: 1;
    }
    66.66% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}



.select2-container--default {
    .select2-dropdown {
        background: #474747;

    }

    .select2-search--dropdown {
        .select2-search__field {
            background: rgba(0,0,0,0.35);
            border-color: #868686;
            border-radius: 8px;
            color: #fff;
        }
    }

    .select2-results__option--highlighted[aria-selected] {
        background: rgba(255,255,255,0.1);
    }

    .select2-results__option[aria-selected="true"] {
        background: $theme !important;
    }
}

.form-control:focus, .custom-select:focus {
    border-color:$theme;
}

/*SKIN OLD*/

.card {
    color: #333;
}

.modal-content {
    color: #333;
}

.daterangepicker {
    color: #111 !important;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link::before {
    background: $theme !important;
}
