.page-dashboard {
    .dashboard-content {
        background: #1e1e1e;
        border-radius: 8px;

        &.dashboard-content-mobile {
            @media screen and (max-width: 991px) {
                background: transparent;

                .dashboard-content-title {
                    padding-right: 0;
                    padding-left: 0;
                }

                .dash-balance  {
                    .dash-balance-total {
                        padding-right: 0;
                        padding-left: 0;
                    }

                    .dash-balance-amount {
                        padding-right: 0;
                        padding-left: 0;

                        .dash-balance-amount-ex {
                            padding-right: 0;
                            padding-left: 0;
                        }
                    }
                }
            }
        }

        .dashboard-content-title {
            color: #fff;
            padding: 15px 20px;
            font-weight: 400;
            font-size: 16px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            position: relative;

            a {
                position: absolute;
                color: #fff;
                font-size: 12px;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                font-weight: 400;
                z-index: 2;

                i {
                    margin-left: 5px;
                }
            }
        }

        .dash-balance {
            .dash-balance-total {
                font-size: 26px;
                font-weight: 500;
                text-align: center;
                padding: 30px 15px;

                .minus {
                    font-size: 18px;
                }
            }

            .dash-balance-amount {
                padding: 15px 5px;

                .dash-balance-amount-ex {
                    height: 234px;
                    overflow-x: hidden;
                    overflow-y: auto;
                    padding: 0 15px;

                    .dash-balance-amount-item {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 20px;

                        &:first-child {
                            margin-top: 0;
                        }

                        .dash-balance-amount-name {
                            display: flex;
                            padding-right: 15px;

                            .dash-balance-amount-icon {
                                margin-right: 12px;
                                position: relative;
                                background-color: #323232;
                                border-radius: 12px;
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                height: 42px;
                                width: 42px;
                                font-size: 18px;
                            }

                            .dash-balance-amount-name-text {
                                align-self: center;
                                display: block;
                                line-height: 1.2;

                                span {
                                    display: block;
                                }
                            }
                        }

                        .dash-balance-amount-balance {
                            font-size: 15px;
                            align-self: start;

                            .minus {
                                font-size: 12px;
                            }
                        }
                    }

                    @media screen and (min-width: 620px) {
                        scrollbar-color: #323232 transparent;
                        scrollbar-width: thin;
                        padding: 0 15px;
                    }
                }
            }
        }

        .dash-transactions {
            padding: 15px 5px;

            .dash-transactions-ex {
                height: 335px;
                overflow-x: hidden;
                overflow-y: auto;
                padding: 0 15px;

                .dash-transactions-item {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 20px;

                    &:first-child {
                        margin-top: 0;
                    }

                    .dash-transactions-item-text {
                        align-self: center;
                        display: block;
                        line-height: 1.5;
                        padding-right: 15px;
                        color: #fff;
                        font-size: 16px;

                        .dash-transactions-item-text-top {
                            .icon {
                                margin-right: 5px;
                                vertical-align: middle;
                                display: inline-block;
                                color: #fff;
                                background: #343434;
                                width: 34px;
                                text-align: center;
                                height: 34px;
                                line-height: 34px;
                                font-size: 16px;
                                border-radius: 50px;

                                &.green {
                                    color: #d7fe62;
                                }
                            }
                        }

                        .dash-transactions-item-text-middle {
                            padding-left: 44px;
                            font-size: 13px;
                            margin-top: -5px;
                        }

                        .dash-transactions-item-text-bottom {
                            color: #666;
                            font-size: 12px;
                            padding-left: 44px;
                            font-weight: 500;
                        }
                    }

                    .dash-transactions-amount {
                        font-size: 14px;
                        align-self: start;
                        color: #D7FE62;
                        font-weight: 600;

                        &.transactions-send {
                            color: #FF3B5D;
                        }
                    }
                }

                @media screen and (min-width: 620px) {
                    scrollbar-color: #323232 transparent;
                    scrollbar-width: thin;
                    padding: 0 15px;
                }
            }
        }

        .dash-recent-activity {
            padding: 15px 5px;

            .dash-recent-activity-ex {
                height: 335px;
                overflow-x: hidden;
                overflow-y: auto;
                padding: 0 15px;

                .dash-recent-activity-item {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 12px;

                    &:first-child {
                        margin-top: 0;
                    }

                    .dash-recent-activity-item-text {
                        align-self: center;
                        display: block;
                        line-height: 1.5;
                        padding-right: 15px;
                        color: #fff;
                        font-size: 15px;

                        .dash-recent-activity-item-text-top {
                            .icon {
                                font-size: 12px;
                                margin-right: 3px;
                                vertical-align: middle;
                                display: inline-block;
                                color: $theme;
                            }
                        }

                        .dash-recent-activity-item-text-bottom {
                            color: #5A5A5A;
                            font-size: 12px;
                            padding-left: 15px;
                            font-weight: 400;
                            margin-top: 2px;
                        }
                    }
                }

                @media screen and (min-width: 620px) {
                    scrollbar-color: #323232 transparent;
                    scrollbar-width: thin;
                    padding: 0 15px;
                }
            }
        }

        .top-ten-games {
            .top-ten-games-head {
                overflow: hidden;
                border-bottom: 1px solid #525252;

                .top-ten-games-head-tr {
                    display: block;
                    float: left;
                    padding: 10px 15px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    text-align: center;
                    font-size: 16px;

                    &:nth-child(1) {
                        width: 40%;
                        text-align: left;
                    }

                    &:nth-child(2) {
                        width: 35%;
                    }

                    &:nth-child(3) {
                        width: 25%;
                    }

                    @media screen and (max-width: 767px) {
                        font-size: 14px;
                    }
                }
            }

            .top-ten-games-body {
                overflow: hidden;
                padding: 15px 0;

                .top-ten-games-body-ex {
                    height: 530px;
                    overflow-x: hidden;
                    overflow-y: auto;
                    padding: 0 10px;

                    .top-ten-games-body-tr {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .top-ten-games-body-th {
                            display: block;
                            float: left;
                            padding: 15px 5px;
                            text-align: center;
                            position: relative;
                            font-size: 14px;

                            &:nth-child(1) {
                                width: 40%;
                                text-align: left;
                                padding-left: 50px;
                            }

                            &:nth-child(2) {
                                width: 35%;
                            }

                            &:nth-child(3) {
                                width: 25%;
                            }

                            .deco-text {
                                background: $theme;
                                font-weight: 500;
                                color: $theme-color;
                                padding: 2px 6px;
                                border-radius: 5px;
                                font-size: 12px;
                            }

                            figure {
                                background-color: #323232;
                                width: 42px;
                                height: 42px;
                                border-radius: 8px;
                                background-size: cover;
                                background-position: center !important;
                                background-repeat: no-repeat !important;
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                left: 0;
                            }

                            .text-inline {
                                display: inline-block;
                                vertical-align: middle;
                            }

                            @media screen and (max-width: 767px) {
                                font-size: 12px;
                            }
                        }
                    }

                    @media screen and (max-width: 767px) {
                        height: 500px;
                    }

                    @media screen and (min-width: 620px) {
                        scrollbar-color: #323232 transparent;
                        scrollbar-width: thin;
                        padding: 0 15px;
                    }
                }
            }
        }
    }
}
