.page-dashboard {
    .dashboard-content {
        background: #1e1e1e;
        border-radius: 8px;

        .dashboard-content-title {
            color: #fff;
            padding: 15px;
            font-weight: 500;
            font-size: 18px;
        }
    }
}
