.u-header__section--admin-dark {
    background: #111 !important;

    .u-header-logo-toggler {
        background: #2c2c2c;
    }

    .collapse-menu-action {
        display: none;
    }
}

.u-header--sticky-top {
    border-bottom: 1px solid #5A5A5A;
}

.u-header-logo-toggler {
    .navbar-brand-mini {
        display: none;
    }
}

.u-side-nav-mini .u-header-logo-toggler {
    .navbar-brand-mini {
        display: block !important;
        opacity: 1;

        .img-logo-mini {
            width: 100%;
        }
    }
}
