.u-header__section--admin-dark {
    background: #111 !important;

    .u-header-logo-toggler {
        background: #2c2c2c;
        align-items: center;
    }

    .collapse-menu-action {
        display: none;
    }
}

header {
    .img-avatar {
        border: 2px solid #7d2df5;
    }

    .g-pos-rel {
        vertical-align: middle;

        &.btn-mini-h {
            padding: 5px 9px;
            border-radius: 8px;
            font-size: 16px;
            margin-right: 3px;
            position: relative;
            transition: 0.15s;
            cursor: pointer;
            line-height: 1.5;

            &:hover {
                background: #1e1e1e;
            }

            @media screen and (max-width: 991px) {
                background: #1e1e1e;
                margin-right: 0;
            }
        }

        &.g-pos-rel-amount {
            background: #1e1e1e;
            padding: 6px 12px;
            font-size: 14px;
            border-radius: 8px;
            margin-right: 5px;
            line-height: 1.5;

            i {
                margin-right: 5px;
            }
        }

        &.dropdown {
            .dropdown-toggle {
                background: #1e1e1e;
                padding: 6px 12px;
                font-size: 14px;
                border-radius: 8px;
                margin-right: 5px;
                border: 0;
                color: #fff;

                i {
                    margin-left: 6px;
                }
            }

            .dropdown-menu {
                left: auto;
                right: 0;
                padding: 10px 5px;
                background: #1e1e1e;
                border-radius: 8px;
                box-shadow: 0 0 3px #222;
                top: calc(100% + 5px);

                li {
                    margin-top: 1px;

                    &:first-child {
                        margin-top: 0;
                    }

                    a {
                        padding: 0.35rem 1rem;
                        border-radius: 6px;
                        transition: 0.15s;
                        font-weight: 500;

                        &:hover {
                            background: rgba(255,255,255,0.05);
                        }

                        .mini-title {
                            display: inline-block;
                            font-size: 10px;
                            vertical-align: top;
                            color: #aaa;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }

        &.pos-mobile-hidden {
            @media screen and (max-width: 991px) {
                display: none;
            }
        }
    }
}

.u-header--sticky-top {
    border-bottom: 1px solid #5A5A5A;
}

@media screen and (min-width: 992px) {
    .u-header-logo-toggler {
        .navbar-brand-mini {
            display: none;
        }
    }
}

@media screen and (max-width: 991px) {
    .u-header-logo-toggler {
        .navbar-brand {
            display: none !important;
        }
    }

    .u-header-logo-toggler {
        width: 50px;
        padding: 5px !important;
    }

    .navbar-brand-mini {
        display: block !important;
        opacity: 1;

        .img-logo-mini {
            width: 100%;
        }
    }
}

@media (min-width: 576px) {
    .u-side-nav-mini .u-header-logo-toggler {
        padding: 5px !important;
    }
}


.u-side-nav-mini .u-header-logo-toggler {
    .navbar-brand-mini {
        display: block !important;
        opacity: 1;

        .img-logo-mini {
            width: 100%;
        }
    }
}
