.modal {
    &.modal-style {
        .modal-content {
            color: #fff;
            background: #333;
            border-radius: 8px;

            .modal-header {
                border-color: #464646;

                .close {
                    font-weight: 400;
                    color: #fff;
                    font-size: 24px;
                    line-height: 1;
                    opacity: .75;


                    &:hover, &:focus {
                        opacity: 1;
                    }
                }

                .modal-title {
                    font-weight: 500;
                    font-size: 15px;
                }

                @media screen and (min-width: 992px) {
                    padding: 15px 35px;
                }
            }

            .modal-body {
                min-height: 130px;

                .modal-body-mini {
                    width: 520px;
                    margin: auto;
                    max-width: 100%;
                }

                .form {
                    margin-top: 30px;

                    label {
                        i {
                            margin-left: 8px;
                        }
                    }

                    .form-group {
                        @media screen and (min-width: 992px) {
                            margin-bottom: 2rem;
                        }
                    }
                }

                @media screen and (min-width: 992px) {
                    padding: 20px 35px;
                }
            }

            .modal-footer {
                border-color: transparent;

                @media screen and (min-width: 992px) {
                    padding: 15px 35px;
                }
            }

            .btn {
                min-width: 110px;
            }

            .username-form {
                background: #555;
                padding: 2px 10px;
                border-radius: 15px;
            }

            .text-form {
               margin-right: 5px;
            }

            .wrap-input {
                position: relative;

                .btn-show-pass {
                    font-size: 18px;
                    color: #999;
                    display: flex;
                    align-items: center;
                    position: absolute;
                    padding: 8px;
                    cursor: pointer;
                    border-radius: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 3px;
                    transition: 0.15s;
                }

                .wrap-element {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 1;

                    .form-control {
                        padding-right: 45px;
                    }

                    .wrap-element-text {
                        font-weight: 500;
                        padding: 3px 10px;
                        color: #fff;
                        opacity: .5;
                    }

                    .btn {
                        min-width: auto;
                        padding: 0;
                        width: 40px;
                        height: 40px;
                        margin-right: -8px;
                        line-height: 40px;
                        border-radius: 60px;
                        font-size: 16px;

                        i {
                            display: block;
                            margin: auto;
                        }
                    }
                }
            }

            .form-control {
                background: #474747;
                color: #fff;
                border-radius: 8px;
                height: 2.75rem;

                &[name="password"] {
                    padding-right: 35px;
                }
            }

            .select2-container--default {
                .select2-selection--single {
                    background: #474747;
                    border-color: #fff;
                    border-radius: 8px;
                    height: 2.75rem;

                    .select2-selection__rendered {
                        color: #fff;
                    }
                }
            }
        }
    }
}
