.modal {
    &.modal-style {
        .modal-content {
            color: #fff;
            background: #333;
            border-radius: 8px;

            .modal-header {
                border-color: #464646;
                padding: 15px 35px;

                .close {
                    font-weight: 400;
                    color: #fff;
                    font-size: 24px;
                    line-height: 1;
                    opacity: .75;


                    &:hover, &:focus {
                        opacity: 1;
                    }
                }

                .modal-title {
                    font-weight: 400;
                    font-size: 16px;
                }

                @media screen and (min-width: 992px) {
                    padding: 15px 35px;
                }
            }

            .modal-body {


                @media screen and (min-width: 992px) {
                    padding: 20px 35px;
                }
            }

            .modal-footer {
                border-color: transparent;

                @media screen and (min-width: 992px) {
                    padding: 15px 35px;
                }
            }
        }
    }
}
