.page-role {
    position: relative;

    .page-top {
        position: absolute;
        right: 0;
        top: -50px;

        .search-input {
            position: relative;
            display: inline-block;
            vertical-align: middle;

            i {
                position: absolute;
                left: 10px;
                top: 50%;
                z-index: 3;
                transform: translateY(-50%);
            }

            .form-control {
                background: #333;
                border-color: #333;
                color: #fff;
                border-radius: 8px;
                padding-left: 34px;
                width: 220px;
            }
        }

        @media screen and (max-width: 767px) {
            position: relative;
            top: auto;
            right: auto;
            text-align: right;
            margin-bottom: 15px;

            .search-input {
                width: calc(100% - 134px);

                .form-control {
                    width: 100%;
                }
            }

            .btn {
                width: 130px;
            }
        }
    }

    .page-header {
        background: #1e1e1e;
        border-radius: 8px;

        .page-header-top {
            border-bottom: 2px solid #3c3c3c;
            padding: 12px 20px;
            font-size: 15px;
            font-weight: 500;
            position: relative;
            z-index: 5;

            .dropdown {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                color: #fff;
                right: 10px;

                .dropdown-toggle {
                    color: #fff;
                    font-size: 18px;
                    padding: 5px 15px;
                    transition: .15s;

                    &:hover {
                        color: #fff;
                        background: #2a2a2a;
                    }
                }

                .dropdown-menu {
                    left: auto !important;
                    right: 0;
                    padding: 10px 5px;
                    background: #282828;
                    border-radius: 8px;
                    box-shadow: 0 0 3px #181818;
                    top: calc(100% + 5px) !important;
                    transform: none !important;

                    li {
                        margin-top: 1px;

                        &:first-child {
                            margin-top: 0;
                        }

                        a {
                            padding: 0.35rem 1rem;
                            border-radius: 6px;
                            transition: 0.15s;
                            font-weight: 500;
                            color: #fff;

                            &:hover {
                                background: rgba(255, 255, 255, 0.075);
                            }

                            .mini-title {
                                display: inline-block;
                                font-size: 10px;
                                vertical-align: top;
                                color: #aaa;
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        }

        .page-header-body {
            position: relative;
            padding: 5px 20px;

            .page-data {
                display: inline-block;
                padding: 12px 0;

                .data-title {
                    font-size: 14px;
                    margin-bottom: 10px;
                    padding: 5px 10px;
                }


                .data-text {
                    font-size: 14px;
                    margin-top: 10px;
                    padding: 5px 10px;
                    color: #aaa;
                    border-right: 2px solid #3c3c3c;

                    &.text-id {
                        color: #fff;
                    }

                    .deco-role {
                        color: #fff;
                        border: 1px solid #fff;
                        padding: 0 8px;
                        border-radius: 50px;
                        margin-left: 5px;
                    }
                }

                .data-text-inline {
                    display: inline-block;
                    font-size: 14px;
                    padding: 5px 10px;
                    color: #aaa;
                    border-right: 2px solid #3c3c3c;

                    &:last-child {
                        border-right: 0;
                    }

                    .number {
                        background: #7d2df5;
                        font-weight: 500;
                        color: #fff;
                        padding: 2px 6px;
                        border-radius: 5px;
                        font-size: 12px;
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    .page-body {
        table {
            width: 100% !important;

            thead {
                tr{
                    th {
                        padding: 10px 26px 10px 10px;
                        border-bottom: 3px solid #414141;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        padding: 8px 10px;
                        border-bottom: 0 !important;
                    }
                }
            }
        }
    }
}
