.page-role {
    position: relative;

    .page-top {
        position: absolute;
        right: 0;
        top: -50px;

        .search-input {
            position: relative;
            display: inline-block;
            vertical-align: middle;

            i {
                position: absolute;
                left: 10px;
                top: 50%;
                z-index: 3;
                transform: translateY(-50%);
            }

            .form-control {
                background: #333;
                border-color: #333;
                color: #fff;
                border-radius: 8px;
                padding-left: 34px;
                width: 220px;
            }

            .select2-container--default {
                width: auto !important;

                .select2-selection--single {
                    background: #333;
                    border-color: #333;
                    color: #fff;
                    border-radius: 8px;
                    width: 220px;

                    .select2-search__field {
                        color: #fff;
                    }

                    .select2-selection__rendered {
                        color: #fff;
                        padding: .5rem .75rem .5rem 2.5rem;
                        text-align: left;
                    }

                    @media screen and (max-width: 767px) {
                        width: 100%;
                    }
                }

                @media screen and (max-width: 767px) {
                    width: 100% !important;
                }
            }
        }

        @media screen and (max-width: 767px) {
            position: relative;
            top: auto;
            right: auto;
            text-align: right;
            margin-bottom: 15px;

            .search-input {
                width: calc(100% - 134px);

                .form-control {
                    width: 100%;
                }
            }

            .btn {
                width: 130px;
            }
        }
    }

    .nav-roles {
        .nav-tabs {
            border-bottom: 1px solid #383838;

            .nav-item {
                .nav-link {
                    color: #fff;
                    font-size: 15px;

                    &.active {
                        border-color: transparent;
                        background: transparent;
                        color: #fff;
                        position: relative;

                        &::before {
                            content: "";
                            background: $theme;
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            height: 2px;
                            width: 100%;
                        }
                    }
                }
            }
        }

        .tab-content {
            .tab-content-title {
                padding: 10px 20px;
                font-size: 15px;
                font-weight: 500;

                .text {

                }
            }

            .tab-content-body-simple {
                position: relative;
                background: #1e1e1e;
                border-radius: 8px;
                margin-top: 18px;
            }

            .tab-content-body {
                position: relative;
                padding: 10px 20px;
                background: #1e1e1e;
                border-radius: 8px;
                margin-top: 18px;

                .tab-content-title {
                    margin-top: -10px;
                    margin-left: -20px;
                    margin-right: -20px;
                    border-bottom: 1px solid #464646;

                    @media screen and (max-width: 767px) {
                        margin-left: -10px;
                        margin-right: -10px;
                    }
                }

                @media screen and (max-width: 767px) {
                    padding: 10px 10px;
                }
            }
        }

        .tab-manager {
            .tab-manager-top {
                display: inline-block;
                position: relative;

                .tab-manager-data {
                    &:first-child {
                        .data-text {
                            border-left: 0;
                        }
                    }
                }

                @media screen and (max-width: 767px) {
                    display: block;
                    margin-bottom: 5px;
                    padding-bottom: 5px;

                    .tab-manager-data {
                        display: inline-block;
                    }
                }
            }

            .tab-manager-bottom {
                display: inline-block;
                position: relative;

                .tab-manager-data {
                    .text-finish {
                        border-right: 0;
                    }
                }

                @media screen and (max-width: 767px) {
                    display: block;
                    margin-top: 5px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    margin-bottom: 5px;

                    &:last-child {
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }

                    &::before {
                        content: "";
                        width: calc(100% + 20px);
                        display: block;
                        position: absolute;
                        bottom: calc(100% + 5px);
                        height: 2px;
                        background: #222;
                        left: -10px;
                    }

                    .tab-manager-data {
                        display: inline-block;

                        &:first-child {
                            .data-text {
                                border-left: 0;
                            }
                        }
                    }
                }
            }

            .tab-manager-data {
                display: inline-block;
                padding: 12px 0;

                .data-title {
                    font-size: 14px;
                    margin-bottom: 10px;
                    padding: 5px 10px;
                }

                .data-text {
                    font-size: 14px;
                    margin-top: 10px;
                    padding: 5px 10px;
                    color: #aaa;
                    border-left: 2px solid #3c3c3c;
                    text-align: center;

                    &.text-id {
                        color: #fff;
                        font-weight: 500;

                        .btn {
                            margin-left: 15px;

                            @media screen and (max-width: 767px) {
                                margin-left: 0;
                                min-width: 55px;
                            }
                        }
                    }

                    .deco-role {
                        color: #fff;
                        border: 1px solid #fff;
                        padding: 0 8px;
                        border-radius: 50px;
                        margin-left: 5px;

                        @media screen and (max-width: 767px) {
                            margin-left: 0;
                        }
                    }
                }

                .separator {
                    display: none;

                    @media screen and (max-width: 767px) {
                        display: block;
                        margin-top: 3px;
                    }
                }

                .number {
                    background: #7d2df5;
                    font-weight: 500;
                    color: #fff;
                    padding: 2px 6px;
                    border-radius: 5px;
                    font-size: 12px;
                    margin-left: 5px;
                }

                .data-text-inline {
                    display: inline-block;
                    font-size: 14px;
                    padding: 5px 10px;
                    color: #aaa;
                    border-left: 2px solid #3c3c3c;

                    @media screen and (max-width: 767px) {
                        border-left: 0 solid transparent;
                        border-right: 2px solid #3c3c3c;
                        text-align: center;

                        &:last-child {
                            border-right: 0;
                        }

                        .name {
                            display: block;
                            margin-bottom: 10px;
                        }

                        .number {
                            margin-left: 0;
                        }

                        &:first-child {
                            border-left: 0;
                        }
                    }
                }

                @media screen and (max-width: 767px) {
                    display: block;
                    padding: 6px 0;
                }
            }

            .data-text {
                &.text-status {
                    color: #fff;

                    i {
                        font-size: 10px;
                        vertical-align: middle;
                        display: inline-block;
                        margin-right: 5px;

                        &.green {
                            color: #d7fe62;
                        }

                        &.red {
                            color: #e84444;
                        }
                    }

                    .btn {
                        margin-left: 15px;

                        @media screen and (max-width: 767px) {
                            margin-left: 0;
                        }
                    }
                }
            }

            @media screen and (max-width: 767px) {
                background: #1e1e1e;
                border-radius: 12px;
            }
        }

        .tab-form {
            padding: 5px 0;

            .col-form {
                padding-top: 5px;
                padding-bottom: 5px;
            }

            .form-control {
                background: #474747;
                color: #fff;
                border-radius: 8px;
                height: 2.75rem;

                &[name="password"] {
                    padding-right: 35px;
                }
            }

            .select2-container--default {
                .select2-selection--single {
                    background: #474747;
                    border-color: #fff;
                    border-radius: 8px;
                    height: 2.75rem;

                    .select2-selection__rendered {
                        color: #fff;
                    }
                }
            }
        }

        .tab-body {
            min-height: 240px;
            position: relative;
            margin-top: 10px;

            .table-load {
                opacity: 0;
                transition: .3s;

                &.table-complete {
                    opacity: 1;
                }
            }
        }
    }

    .page-body {
        margin-top: 15px;
        min-height: 240px;
        position: relative;

        .table-load {
            opacity: 0;
            transition: .3s;

            &.table-complete {
                opacity: 1;
            }
        }
    }

    table {
        width: 100% !important;
        margin: 0 !important;

        thead {
            tr {
                th {
                    padding: 15px 26px 15px 10px;
                    background: #333;

                    @media screen and (max-width: 767px) {
                        padding: 15px 10px;
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 10px;
                    border-bottom: 0 !important;

                    .btn-tr-details {
                        display: none;
                        margin-right: 5px;
                        color: #aaa;
                        font-size: 16px;
                        vertical-align: middle;
                        transition: .15s;
                    }

                    @media screen and (max-width: 767px) {
                        padding: 10px 8px;
                    }
                }

                &.even {
                    background: #252525;
                }

                &.child {
                    background: #2d2d2d;

                    .dtr-details {
                        margin: 0;
                        padding-left: 20px;

                        li {
                            padding-left: 5px;
                            padding-top: 5px;
                            padding-bottom: 5px;
                            border-bottom: 1px solid #444;

                            &:last-child {
                                border-bottom: 0;
                            }

                            .dtr-title {
                                font-weight: 500;
                                margin-right: 10px;
                                min-width: 100px;
                                display: inline-block;
                            }

                            .dtr-data {

                            }
                        }
                    }
                }

                &:last-of-type {
                    td {
                        border-bottom: 0 solid transparent !important;
                    }
                }
            }
        }

        &.collapsed {
            tbody {
                tr {
                    td {
                        &.dtr-control {
                            cursor: pointer;

                            .btn-tr-details {
                                display: inline-block;
                            }

                            &:hover {
                                .btn-tr-details {
                                    color: #fff;
                                }
                            }
                        }
                    }

                    &.dt-hasChild {
                        td {
                            &.dtr-control {
                                .btn-tr-details {
                                    color: #9a56ff;
                                }
                            }
                        }
                    }
                }
            }
        }

        .i-status {
            font-size: 10px;
            vertical-align: middle;
            display: inline-block;
            margin-right: 5px;

            &.green {
                color: #d7fe62;
            }

            &.gray {
                color: #666;
            }

            &.red {
                color: #e84444;
            }
        }

        .deco-number {
            background: #7d2df5;
            font-weight: 500;
            color: #fff;
            padding: 2px 6px;
            border-radius: 5px;
            font-size: 12px;
        }

        .deco-rol {
            color: #fff;
            border: 1px solid #fff;
            padding: 1px 9px;
            border-radius: 50px;
        }

        .dropdown {
            .dropdown-toggle {
                color: #fff;
                font-size: 16px;
                padding: 5px 15px;
                transition: 0.15s;

                &:hover {
                    color: #fff;
                    background: #2a2a2a;
                }
            }

            .dropdown-menu {
                left: auto !important;
                right: 0;
                padding: 10px 5px;
                background: #333;
                border-radius: 8px;
                box-shadow: 0 0 5px #181818;
                top: calc(100%) !important;
                transform: none !important;

                li {
                    margin-top: 1px;

                    &:first-child {
                        margin-top: 0;

                        a {
                            &:first-child {
                                border-radius: 6px 6px 0 0;
                            }
                        }
                    }

                    &:last-child {
                        a {
                            border-bottom: 0;
                            border-radius: 0 0 6px 6px;
                        }
                    }

                    &.united {
                        a {
                            border-bottom: 0;
                            border-radius: 6px !important;
                        }
                    }

                    a {
                        padding: 0.35rem 1rem;
                        transition: 0.15s;
                        color: #fff;
                        border-bottom: 1px solid #555;


                        &:hover {
                            background: rgba(255, 255, 255, 0.075);
                        }

                        .mini-title {
                            display: inline-block;
                            font-size: 10px;
                            vertical-align: top;
                            color: #aaa;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }

        .btn-href {
            color: #fff;
            margin-left: 5px;
            transition: .15s;

            &:hover, &:focus {
                color: #fff;
                background: #2a2a2a;
            }
        }
    }

    .dataTables_wrapper {
        div.dataTables_info {
            padding-top: 0.55em !important;
        }

        .row {
            &:nth-child(1) {
                background: #1e1e1e;
                padding: 15px 5px;
                border-radius: 8px 8px 0 0;
                border-bottom: 2px solid #434343;

                label {
                    margin: 0;
                }
            }

            &:nth-child(2) {
                background: #1e1e1e;
                margin-top: 5px;
                margin-bottom: 5px;

                .col-sm-12 {
                    padding: 0;
                }
            }

            &:nth-child(3) {
                background: #1e1e1e;
                padding: 10px 5px;
                border-radius: 0 0 8px 8px;
                border-top: 2px solid #434343;
            }
        }
    }

    .dataTables_filter {
        input {
            background: #333;
            border-color: #444;
            border-radius: 6px;
            color: #fff;

            @media screen and (max-width: 767px) {
                width: calc(100% - 100px);
            }
        }

        @media screen and (max-width: 767px) {
            labe {
                text-align: center;
            }
        }
    }

    .dataTables_length {
        .custom-select {
            background: #333;
            border-color: #444;
            color: #fff;
            border-radius: 6px;
            margin: 0 5px;
        }

        @media screen and (max-width: 767px) {
            margin-bottom: 15px;
        }
    }

    .dataTables_info {
        @media screen and (max-width: 767px) {
            margin-bottom: 15px;
        }
    }

    .pagination {
        .paginate_button {
            .page-link {
                border-radius: 5px;
                background: transparent;
                border: 1px solid transparent;
                color: #fff;
                font-weight: 500;
                transition: .15s;
                padding: 0.5rem 0.9rem;

                &:hover {
                    text-shadow: 0 0 3px #fff;
                }

                &:focus {
                    z-index: 3;
                    outline: 0;
                    box-shadow: 0 0 0 0.2rem transparent;
                }
            }

            &.disabled {
                opacity: .5;
                pointer-events: none;
            }

            &.active {
                .page-link {
                    pointer-events: none;
                    background: transparent;
                    border-color: #fff;
                    color: #Fff;
                }
            }
        }
    }

    .dataTables_processing {
        &.card {
            background: #2c2c2c;
            border-color: #333;

            > div:last-child > div {
                background: $theme;
            }
        }
    }
}
