/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
composer.lock
.idea
public/auth/mix-manifest.json
public/back/mix-manifest.json
public/mix-manifest.json
public/fonts
public/back/images
package-lock.json
public/images
