/*#############################################
                    THEMES
#############################################*/

$theme-color: #fff;
$theme: #4C1D95;
$theme-hover: lighten($theme, 10%);
$theme02: #16A34A;
$theme02-hover: lighten($theme02, 10%);

@import "../../template";
@import "./custom";
