
/*
    Custom CSS to PrimeVue Components
    Author: Hember Colmenares
 */

.p-tabview .p-tabview-nav {
    border-bottom: 1px solid #383838;
}

.p-tabview-nav {
    display: flex !important;
}

.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
    background: transparent;
    border: none;
    color: white;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: transparent;
    border: none;
    color: white;
}

.p-tabview .p-tabview-panels {
    background: transparent;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link::before {
    content: "";
    background: #7d2df5;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:hover {
    text-decoration: none;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    background: transparent;
    border: none;
    color: white;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
}

.p-card {
    padding: 10px 20px;
    background: #1e1e1e;
    border-radius: 8px;
    margin-top: 6px;
}
.p-tabview .p-tabview-panels {
    padding: 0px;
}
.p-dropdown {
    background: #474747;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 2.75rem;
    width: 100%;
    padding: 0px;
}
.p-dropdown .p-dropdown-label {
    color: white;
    font-weight: 400;
    font-size: 1rem;
}
.p-card .p-card-body {
    padding: 0px;
}
.p-dropdown-panel {
    background: #474747;
    color: rgba(255, 255, 255, 0.87);
    border: 1px solid #474747;
    border-radius: 8px;
    box-shadow: none;
}
.p-dropdown-panel .p-dropdown-header {
    padding: 0.75rem 1.5rem;
    border-bottom: 1px solid #474747;
    color: rgba(255, 255, 255, 0.87);
    background: #474747;
    margin: 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
    background: rgba(0, 0, 0, 0.35);
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    background: #7d2df5;
    color: rgba(255, 255, 255, 0.87);
}
.p-calendar {
    background: #474747;
    padding: 0px;
    height: 2.7rem;
    border-radius: 8px;
}
.p-calendar .p-inputtext {
    background: transparent;
    height: 100%;
    border-radius: 8px;
}
.p-datepicker:not(.p-datepicker-inline) {
    background: #474747;
    border: 1px solid #474747;
    box-shadow: none;
}
.p-datepicker .p-datepicker-header {
    padding: 0.5rem;
    color: rgba(255, 255, 255, 0.87);
    background: #474747 !important;
    font-weight: 600;
    margin: 0;
    border-bottom: none;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.p-datepicker table td>span.p-highlight {
    color: white;
    background: #7d2df5;
}
.p-overlaypanel {
    position: absolute;
    margin-top: -40px;
}
.p-datatable-wrapper {
    border-radius: 8px;
}
.p-datatable .p-datatable-thead>tr>th {
    background: #1e1e1e;
    border: none;
}
.p-datatable .p-datatable-tbody>tr>td {
    background: #1e1e1e;
    text-align: left;
    border: 1px solid #111111;
    border-width: 4px 0 0 0;
    padding: 1rem 1rem;
}
tfoot {
    border: 1px solid #111111;
    border-width: 4px 0 0 0;
}
.p-datatable .p-datatable-tfoot>tr>td {
    background: #1e1e1e;
    border: none;
}
.p-datatable .p-datatable-tbody>tr>td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.p-datatable .p-datatable-tbody>tr>td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.p-paginator {
    background: #1e1e1e;
    color: #c298d8;
    border: none;
    border-radius: 8px !important;
    margin-top: 5px;
    border-width: 0;
    padding: 0.75rem;
    border-radius: 4px;
}
.p-paginator .p-dropdown {
    width: 66px;
}
.p-paginator .p-paginator-current {
    background-color: #474747;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    min-width: 2.357rem;
    height: 2.357rem;
    margin: 0 0 0 -1px;
    padding: 0 0.5rem;
}
.p-paginator-element {
    background-color: #474747  !important;
    border: 1px solid white  !important;
    color: white  !important;
    border-radius: 8px !important;
    min-width: 2.357rem;
    height: 2.357rem;
    margin: 0 0 0 -1px;
    transition: box-shadow 0.15s;
    border-radius: 0;
}
.el-range-editor {
    border-color: #ccc !important;
    border-radius: 8px !important;
    width: 100% !important;
    color: white !important;
    background: #474747 !important;
}
.el-date-editor .el-range-input {
    background: #474747 !important;
    color: white !important;
}
.el-date-editor .el-range-separator{
    color: white !important;

}
.el-picker-panel {
    transform-origin: center top;
    z-index: 2021;
    border: none;
    border-radius: 8px;
    position: absolute;
    box-shadow: 10px 10px 38px 22px rgba(0, 0, 0, 0.71) !important;
}
.el-picker-panel__sidebar, .el-picker-panel__body {
    background-color: #1e1e1e !important;
    border: none !important;
    border-radius: 8px !important;
}
.el-popper[x-placement^="bottom"] .popper__arrow {
    border-bottom-color: #1e1e1e;
}
.el-popper[x-placement^="bottom"] .popper__arrow::after {
    border-bottom-color: #1e1e1e;
}
.is-left, .is-right {
    border: none !important;
    border-radius: 8px !important;
}
.el-picker-panel {
    color: white !important;
    border: none !important;
    background: #1e1e1e  !important;
    border-radius: 8px !important;
}
.el-picker-panel__shortcut {
    color: white !important
}
.el-date-table td.in-range div, .el-date-table td.in-range div:hover, .el-date-table.is-week-mode .el-date-table__row.current div, .el-date-table.is-week-mode .el-date-table__row:hover div {
    background-color: #595959 !important;
}

.el-loading-spinner i {
    color: #fff !important;
}
.el-loading-spinner .el-loading-text {
    color: #fff !important;
}
.el-loading-mask {
    background-color: rgb(9 9 9 / 93%) !important;
}
.el-time-panel {
    border: 1px solid #282828;
    background-color: #1e1e1e;
}
.el-time-panel__footer {
    border-color: #282828;
}
.el-time-spinner__item {
    color: #777;
}
.el-time-spinner__item.active:not(.disabled) {
    color: #fff;
}
.el-time-spinner__arrow {
    color: #fff;
    font-size: 14px;
}
.el-time-spinner__arrow:hover {
    color: #fff;
    text-shadow: 0 0 3px #fff;
}
.el-time-panel__btn {
    color: #777;
}
.el-time-panel__btn.confirm {
    color: #fff;
}
.el-time-spinner__wrapper.is-arrow .el-time-spinner__item:hover:not(.disabled):not(.active) {
    background: transparent;
}
