/*----------------------------------------------------------------------

        MASTER ALL THEMES

-----------------------------------------------------------------------*/
/*
sass --style compressed resources/assets/back/scss/theme/neutro/_neutro.scss:public/themes/neutro/theme.min.css

sass --style compressed resources/assets/back/scss/theme/assiria/_assiria.scss:public/themes/assiria/theme.min.css

sass --style compressed resources/assets/back/scss/theme/planeta/_planeta.scss:public/themes/planeta/theme.min.css

sass --style compressed resources/assets/back/scss/theme/bet30/_bet30.scss:public/themes/bet30/theme.min.css

sass --style compressed resources/assets/back/scss/theme/casinozeuz/_casinozeuz.scss:public/themes/casinozeuz/theme.min.css

sass --style compressed resources/assets/back/scss/theme/ganaencasa/_ganaencasa.scss:public/themes/ganaencasa/theme.min.css

sass --style compressed resources/assets/back/scss/theme/fortubet/_fortubet.scss:public/themes/fortubet/theme.min.css

sass --style compressed resources/assets/back/scss/theme/camelbet/_camelbet.scss:public/themes/camelbet/theme.min.css

sass --style compressed resources/assets/back/scss/theme/celuapuestas/_celuapuestas.scss:public/themes/celuapuestas/theme.min.css

sass --style compressed resources/assets/back/scss/theme/casino33/_casino33.scss:public/themes/casino33/theme.min.css

sass --style compressed resources/assets/back/scss/theme/stargame/_stargame.scss:public/themes/stargame/theme.min.css

sass --style compressed resources/assets/back/scss/theme/magiplay/_magiplay.scss:public/themes/magiplay/theme.min.css

sass --style compressed resources/assets/back/scss/theme/konabet/_konabet.scss:public/themes/konabet/theme.min.css

sass --style compressed resources/assets/back/scss/theme/vip32/_vip32.scss:public/themes/vip32/theme.min.css

sass --style compressed resources/assets/back/scss/theme/cleopatrabet/_cleopatrabet.scss:public/themes/cleopatrabet/theme.min.css

sass --style compressed resources/assets/back/scss/theme/casinozeta/_casinozeta.scss:public/themes/casinozeta/theme.min.css

sass --style compressed resources/assets/back/scss/theme/trebolbet/_trebolbet.scss:public/themes/trebolbet/theme.min.css

sass --style compressed resources/assets/back/scss/theme/casinofenix/_casinofenix.scss:public/themes/casinofenix/theme.min.css

sass --style compressed resources/assets/back/scss/theme/mrduck/_mrduck.scss:public/themes/mrduck/theme.min.css

sass --style compressed resources/assets/back/scss/theme/unicornio/_unicornio.scss:public/themes/unicornio/theme.min.css

sass --style compressed resources/assets/back/scss/theme/unicornio-dark/_unicornio-dark.scss:public/themes/unicornio-dark/theme.min.css

sass --style compressed resources/assets/back/scss/theme/mundocasino/_mundocasino.scss:public/themes/mundocasino/theme.min.css

sass --style compressed resources/assets/back/scss/theme/picantesports/_picantesports.scss:public/themes/picantesports/theme.min.css

sass --style compressed resources/assets/back/scss/theme/pinkplay/_pinkplay.scss:public/themes/pinkplay/theme.min.css

sass --style compressed resources/assets/back/scss/theme/oasiscasino/_oasiscasino.scss:public/themes/oasiscasino/theme.min.css

sass --style compressed resources/assets/back/scss/theme/monkey/_monkey.scss:public/themes/monkey/theme.min.css

sass --style compressed resources/assets/back/scss/theme/flamingo/_flamingo.scss:public/themes/flamingo/theme.min.css

sass --style compressed resources/assets/back/scss/theme/ocean/_ocean.scss:public/themes/ocean/theme.min.css

sass --style compressed resources/assets/back/scss/theme/raccoon/_raccoon.scss:public/themes/raccoon/theme.min.css

sass --style compressed resources/assets/back/scss/theme/space/_space.scss:public/themes/space/theme.min.css


*/
