.btn {
    &.btn-theme {
        color: $theme-color;

        &:hover, &:focus {
            color: $theme-color;
        }
    }
}


.body-auth {
    .btn-login {
        background: $theme;
        color: $theme-color;

        &:hover, &:focus {
            background: $theme-hover;
            color: $theme-color;
        }
    }
}
