.btn {
    &.btn-theme {
        color: $theme-color;

        &:hover, &:focus {
            color: $theme-color;
        }
    }
}

.body-auth {
    .container-login {
        background: #000 !important;
    }

    .wrap-login {
        background: #000 !important;
    }

    .btn-login {
        background: $theme;
        color: $theme-color;

        &:hover, &:focus {
            background: $theme-hover;
            color: $theme-color;
        }
    }
}

body {
    background: #000 !important;

    .u-sidebar-navigation--dark {
        background: #000;

        .has-active {
            > a {
                &:hover {
                    background: #313d32;
                }

                &.active {
                    background: #2a312b;

                    &:hover, &:focus {
                        background: #2a312b;
                    }
                }
            }
        }
    }
}

body .u-sidebar-navigation--dark .has-active > a::before {
    background: $theme02 !important;
}

header .img-avatar {
    border-color: $theme02 !important;
}

.u-header__section--admin-dark {
    background: #000 !important;

    .u-header-logo-toggler {
        background: #000 !important;
    }
}

.footer {
    background: #000 !important;
}

.nav-mobile .nav-mobile-ex {
    background: #161616 !important;

    .nav-mobile-opt {
        a.active i {
            color: $theme !important;
        }
    }
}

@media screen and (max-width: 991px) {
    body .u-sidebar-navigation--dark.u-side-nav--mini .has-active > a, body .u-sidebar-navigation--dark .has-active > a {
        background: #161616;
    }

    body .u-sidebar-navigation--dark.u-side-nav--mini .has-active > a .g-pos-rel::before, body .u-sidebar-navigation--dark .has-active > a .g-pos-rel::before {
        background: #222;
    }

    body .u-sidebar-navigation--dark.u-side-nav--mini .has-active > a:hover, body .u-sidebar-navigation--dark.u-side-nav--mini .has-active > a:focus, body .u-sidebar-navigation--dark .has-active > a:hover, body .u-sidebar-navigation--dark .has-active > a:focus {
        background: #333;
    }
}
