/*#############################################
                    THEMES
#############################################*/

$theme-color: #1c4725;
$theme: #95DCA5;
$theme-hover: lighten($theme, 10%);
$theme02: #95DCA5;
$theme02-hover: lighten($theme02, 10%);

@import "../../template";
@import "./custom";
