/*------------------------------------
  Sweetalert
------------------------------------*/
#swal2-content ul {
    text-align: left;
}
.swal2-title {
    position: relative;
    max-width: 100%;
    margin: 0 0 0.4em;
    padding: 0;
    color: #595959 !important;
    font-size: 1.875em;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
}
.btn {
    position: relative;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
    cursor: pointer;
}
.u-btn-3d {
    border-bottom: solid 3px rgba(0,0,0,.2);
}
.u-btn-bluegray {
    color: #fff;
    background-color: #585f69;
}
.u-btn-bluegray.active, .u-btn-bluegray:focus, .u-btn-bluegray:hover {
    color: #fff;
}
.u-btn-bluegray.active, .u-btn-bluegray:hover {
    border-color: #6f7885;
    background-color: #6f7885;
}
