.languages-menu {
    position: fixed !important;
    z-index: 999;
}

.languages-menu a {
    color: #fa5b0f !important;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 12px 10px;
    margin-left: 25px;
    margin-top: 4px;
}

.languages-menu-selected {
    cursor: pointer;
}

.languages-submenu {
    list-style:none;
    box-shadow: 0 0 5px #3e4551;
    background: #333;
    padding: 4px;
    min-width: 140px;
    border-radius: .25rem!important;
    margin-left: 13px;
    margin-inline-start: 50px;
}

.languages-submenu li {
    font-size: 14px;
    padding: 10px 12px;
    font-weight: 100;
    border: 0;
}

.languages-submenu li a {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: #fa5b0f !important;
    width: 100%;
    padding: 0 !important;
    position: relative;
    margin-left: auto;
}

.languages-submenu li:hover, .languages-submenu li:hover a, .languages-submenu li:focus {
    background: #fa5b0f;
    color: #fff !important;
}

.img-flags {
    width: 30px;
    border-radius: 200px;
}
