/*
sass --style compressed resources/assets/back/scss/template.scss:public/commons/css/template.min.css
*/
#header-search-form {
    .form-control {
        width: 100%;
    }
}

.img-logo {
    width: auto;
    transform: scale(1.45);
    margin-left: 25px;
    max-width: 150px;
}

.warning-general-template {
    background: #eee;
    padding: 10px 0;

    .warning-container {
        overflow: hidden;
    }

    .warning-title {
        color: #4f2d8c;
        font-weight: 600;
    }

    .warning-general-template-ex {
        white-space: nowrap;
        font-size: 16px;
        color: #666;

        .msg {
            display: inline-block;
            min-width: 100%;
            padding-right: 150px;
            -webkit-animation: marquee-inner 20s linear infinite;
            animation: marquee-inner 20s linear infinite;
        }
    }

    @keyframes marquee-inner {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        100% {
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
        }
    }
}

.collapse {
    display: none;

    &.show {
        display: block !important;
    }
}

@media screen and (max-width: 575px) {
    #header-search-form {
        .input-group {
            display: block;
            width: 100%;
        }
    }
}
