/*#############################################
                    THEMES
#############################################*/

$theme-color: #fff;
$theme: #7d2df5;
$theme-hover: lighten($theme, 10%);

@import "../../template";
@import "./custom";
