.btn {
    &.btn-theme {
        color: $theme-color;

        &:hover, &:focus {
            color: $theme-color;
        }
    }
}

.body-auth {
    .container-login {
        background: #000 !important;
    }

    .wrap-login {
        background: #fff !important;

        .login-form {
            .login-form-ex {
                .wrap-input-title, .wrap-input-subtitle, .login-form-line label {
                    color: #111;
                }
            }
        }
    }

    .btn-login {
        background: $theme;
        color: $theme-color;

        &:hover, &:focus {
            background: $theme-hover;
            color: $theme-color;
        }
    }

    .input-login {
        background: transparent;
        border-color: #828282;
        color: #444;
    }

    .modal-reset-password {
        .reset-password-content {
            background: #fff;
            color: #111;

            .reset-password-content-ex {
                .reset-password-close, .reset-password-title, .reset-password-subtitle {
                    color: #111;
                }
            }
        }
    }
}

body {
    background: #fff !important;
    color: #111;

    .u-sidebar-navigation--dark {
        background: #F7F8FA;
        .has-active {
            > a {
                color: #111;

                &:hover {
                    background: darken(#36190a, 10%);
                }

                &.active {
                    background: #FED7AA;
                    color: #111;

                    &:hover, &:focus {
                        background: #FED7AA;
                    }

                    i {
                        color: #111;
                    }
                }

                i {
                    color: #111;
                }
            }

            .u-sidebar-title {
                color: #111;
            }
        }
    }
}

body .u-sidebar-navigation--dark .has-active > a::before {
    background: $theme02 !important;
}

header {
    .img-avatar {
        border-color: $theme02 !important;
    }

    .g-pos-rel {
        &.g-pos-rel-amount {
            background: $theme;
        }

        &.dropdown {
            .dropdown-toggle {
                background: $theme;
            }

            .dropdown-menu {
                background: #f7f8fa;
                box-shadow: 0 0 3px #d9d9d9;

                li {
                    a {
                        color: #111;

                        .mini-title {
                            color: #777;
                        }
                    }
                }
            }
        }
    }
}

.u-header__section--admin-dark {
    background: #fff !important;

    .u-header-logo-toggler {
        background: #F7F8FA !important;
    }
}

.footer {
    background: #d9d9d9;

    .footer-top {
        .footer-top-right {
            a {
                color: #111;
            }
        }
    }

    .footer-bottom {
        a {
            color: #111;

            &:hover, &:focus {
                color: #111;
            }
        }

        .dropdown-footer {
            .dropdown-toggle {
                background: transparent;
                border-color: #111;
                color: #111;
            }

            .dropdown-menu {
                background: #f7f8fa;
                box-shadow: 0 0 3px #d9d9d9;
            }
        }

        .footer-bottom-left {
            .select2-container--default {
                .select2-selection--single {
                    background: transparent;
                    border-color: #111;

                    .select2-selection__rendered {
                        color: #111;
                    }
                }
            }
        }
    }
}

.select2-container--default {
    .select2-dropdown {
        background: #f7f8fa;
    }

    .select2-search--dropdown {
        .select2-search__field {
            background: transparent;
            border-color: #828282;
            color: #111;
        }
    }
}

.nav-mobile .nav-mobile-ex {
    background: #f7f8fa;
    box-shadow: 0px -1px 2px #828282;

    .nav-mobile-opt {
        a {
            color: #111;

            &.active {
                color: $theme !important;

                i {
                    color: $theme !important;
                }
            }
        }
    }
}

.wrapper-title {
    color: #111;
}

.page-dashboard {
    .dashboard-content {
        background: #F7F8FA;

        .dashboard-content-title {
            color: #111;
        }

        .dash-balance {
            .dash-balance-amount {
                .dash-balance-amount-ex {
                    .dash-balance-amount-item {
                        .dash-balance-amount-name {
                            .dash-balance-amount-icon {
                                background: #FED7AA;
                            }
                        }
                    }
                }
            }
        }

        .dash-transactions {
            .dash-transactions-ex {
                .dash-transactions-item {
                    .dash-transactions-item-text {
                        color: #111;

                        .dash-transactions-item-text-top {
                            .icon {
                                background: #FED7AA;
                                color: #111;
                            }
                        }

                        .dash-transactions-item-text-bottom {
                            color: #828282;
                        }
                    }

                    .dash-transactions-amount {
                        color: #87AE12;

                        &.transactions-send {
                            color: #FF3B5D;
                        }
                    }
                }
            }
        }

        .dash-recent-activity {
            .dash-recent-activity-ex {
                .dash-recent-activity-item {
                    .dash-recent-activity-item-text {
                        color: #111;

                        .dash-recent-activity-item-text-bottom {
                            color: #828282;
                        }
                    }
                }
            }
        }

        .top-ten-games {
            .top-ten-games-body {
                .top-ten-games-body-ex {
                    .top-ten-games-body-tr {
                        .top-ten-games-body-th {
                            figure {
                                background-color: #FED7AA;
                            }

                            .deco-text {
                                background: transparent;
                                color: #111;
                                font-weight: 600;
                                font-size: 14px;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 991px) {
    body .u-sidebar-navigation--dark.u-side-nav--mini .has-active > a, body .u-sidebar-navigation--dark .has-active > a {
        background: #161616;
    }

    body .u-sidebar-navigation--dark.u-side-nav--mini .has-active > a .g-pos-rel::before, body .u-sidebar-navigation--dark .has-active > a .g-pos-rel::before {
        background: #222;
    }

    body .u-sidebar-navigation--dark.u-side-nav--mini .has-active > a:hover, body .u-sidebar-navigation--dark.u-side-nav--mini .has-active > a:focus, body .u-sidebar-navigation--dark .has-active > a:hover, body .u-sidebar-navigation--dark .has-active > a:focus {
        background: #333;
    }
}

.page-role .nav-roles .tab-content .tab-content-body, .page-role .nav-roles .tab-content .tab-content-body-simple, .dt-container .datatable-header, .dt-container .datatable-body, .dt-container .datatable-footer {
    background: #151517;
}

.page-dashboard .dashboard-content .dash-transactions .dash-transactions-ex .dash-transactions-item .dash-transactions-item-text .dash-transactions-item-text-top .icon {

}

.page-dashboard .dashboard-content .dash-balance .dash-balance-amount .dash-balance-amount-ex .dash-balance-amount-item .dash-balance-amount-name .dash-balance-amount-icon {

}

.p-card, .p-datatable .p-datatable-thead > tr > th, .p-datatable .p-datatable-tbody > tr > td, .p-paginator {
    background: #151517 !important;
}

.dt-container .dataTable thead tr th {
    background: lighten(#151517, 2%) !important;
}
